<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/employees' ? 'active' : '' %>" href="/employees">Employees</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-employee">Add Employee</a></li>
        </ul>
    </nav>
</header>