<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/employee.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (employees.length > 0) { %>
            <div class="grid">
                <% for (let employee of employees) { %>
                    <article class="card employee-item">
                        <header class="card__header">
                            <h1 class="employee__title"><%= employee.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/img/img.jpg"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="employee__id">4354543</h2>
                            <p class="employee__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Team</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Employees Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>